name: Check Preinstalled AWS CLI Versions

on:
  workflow_dispatch:

jobs:
  check-tools:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Print preinstalled AWS CLI version
        run: |
          echo "☁️ AWS CLI version installed on runner:"
          aws --version
